
  .toyota-faq-container {
    display: flex;
    font-family: Arial, sans-serif;
    background-color: var(--toyota-white);
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    margin-top: 6rem;
  }
  
  .toyota-faq-left {
    flex: 0 0 40%;
    position: relative;
  }
  
  .toyota-faq-heading {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--toyota-black);
    margin-bottom: 20px;
    text-transform: none;
    line-height: 1.2;
    margin-left: -20px;
  }
  
  .toyota-faq-image-container {
    position: relative;
    margin-top: 50px;
  }
  
  .toyota-faq-image-container img {
    height: 300px;
    width: 550px;
    margin-top: -50px;
    margin-left: -20px;
  }
  
  .toyota-faq-response {
    position: absolute;
    bottom: -55px;
    z-index: 2;
  }
  
  .response-text {
    font-size: 1rem;
    font-weight: bold;
    color: var(--toyota-black);
    margin-left: -20px;
    margin-bottom: 5px;
  }
  
  .awesome-text {
    font-family: 'Brush Script MT', cursive;
    color: var(--toyota-red);
    font-size: 3rem;
    line-height: 1;
    margin-top: -14px;
    margin-left: -30px;
  }
  
  .toyota-faq-right {
    flex: 0 0 60%;
    padding-left: 40px;
    position: relative;
  }
  
  
  .toyota-faq-box {
    border: 1px solid #fcfcfc;
    border-radius: 4px;
    padding: 20px 30px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    margin-bottom: 30px;
    margin-top: 1rem;
    margin-right: 1rem;
  }
  
  .toyota-faq-list {
    padding: 0;
  }
  
  .toyota-faq-item {
    margin-bottom: 25px;
  }
  
  .toyota-faq-item:last-child {
    margin-bottom: 5px;
  }
  
  .toyota-faq-question {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2px;
  }
  
  .toyota-faq-bullet {
    color: var(--toyota-red);
    font-size: 1.5rem;
    margin-right: 10px;
    line-height: 1;
  }
  
  .toyota-faq-question-text {
    font-weight: bold;
    font-size: 1rem;
    color: var(--toyota-black);
  }
  
  .toyota-faq-answer {
    color: var(--toyota-dark-gray);
    font-size: 0.95rem;
    line-height: 1.5;
    padding-left: 25px;
  }
  
  .toyota-faq-footer {
    position: relative;
    text-align: right;
    margin-right: 20px;
  }
  
  .toyota-faq-pagination {
    font-size: 0.9rem;
    color: var(--toyota-dark-gray);
  }
  
  @media screen and (max-width: 768px) {
    .toyota-faq-container {
      flex-direction: column;
    }
    
    .toyota-faq-left, .toyota-faq-right {
      flex: 0 0 100%;
    }
    
    .toyota-faq-right {
      padding-left: 0;
      margin-top: 40px;
    }
  }