.hero{
    width: 100%;
    min-height: 100vh;
    background: url('../../../assets/background-image.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}