:root{
    --navbar-height:55px
}
.hero {
    width: 100%;
    min-height: calc(100vh - var(--navbar-height)); /* Subtract navbar height */
    margin-top: var(--navbar-height); /* Push content down */
    background: url('../../../assets/background-image.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}