:root {
    --toyota-red: #e50000;
  }
  
  .service-navbar {
    background-color: white;
    border-bottom: 1px solid #edf2f7;
    position: fixed; 
    top: 56px; 
    left: 0; 
    width: 100%; 
    z-index: 10;
    height: 50px;
  }
  
  .service-nav-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 16px;
  }
  
  .service-nav-items {
    display: flex;
    align-items: center;
    height: 56px;
    font-size: 10px;
    overflow-x: auto;
    gap: 3px;
    
  }
  
  .service-nav-item {
    padding: 8px 16px;
    color: black;
    text-decoration: none;
    white-space: nowrap;
    border-right: 1px solid #e0e0e0;
    transition: color 0.3s, border-bottom 0.3s;
  }
  
  .service-nav-item:hover {
    color: var(--toyota-red);
    border-bottom: 1px solid var(--toyota-red);
  }
  
  .service-nav-item.active {
    color: var(--toyota-red);
    border-bottom: 1px solid var(--toyota-red);
  }
  
  .services-layout {
    padding-top: 112px; 
  }
  
  .services-content {
    min-height: 500px; 
    padding: 20px;
  }
  
  @media (max-width: 768px) {
    .service-navbar {
      top: 48px; 
    }
    
    .service-nav-items {
      height: 48px;
    }
    
    .service-nav-item {
      padding: 8px 12px;
      font-size: 10px;
    }
    
    .services-layout {
      padding-top: 96px; /* Adjusted for mobile */
    }
  }