.secondary-navbar {
    background-color: white;
    border-bottom: 1px solid #edf2f7;
    padding-top: 56px;
    
  }
  
  .secondary-navbar-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
  }
  
  .secondary-menu {
    display: flex;
    align-items: center;
    height: 56px;
    font-size: 11px;
    overflow-x: auto;
  }
  
  .secondary-menu-item {
    padding: 8px 16px;
    color: black;
    text-decoration: none;
    white-space: nowrap;
  }
  
  .secondary-menu-item:hover {
    color: var(--toyota-red);
  }
  
  .secondary-menu-item.active {
    color: var(--toyota-red);
    border-bottom: 2px solid var(--toyota-red);
  }