:root {
    --toyota-red: #eb0a1e;
    --toyota-black: #000000;
    --toyota-white: #ffffff;
    --toyota-gray: #f5f5f5;
    --toyota-dark-gray: #333333;
    --toyota-hover-gray: #e6e6e6;
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}